{
  "extends": [
    "formidable/configurations/es6"
  ],
  "env": {
    "node": true,
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "func-style": 0,
    "no-multiple-empty-lines": 0,
    "no-console": 0
  }
}
